<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="loands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="loands.Properties.Loans" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <loands.Properties.Settings>
            <setting name="LoansData" serializeAs="String">
                <value />
            </setting>
            <setting name="MonthlyPayment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Months" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PaymentFrequency" serializeAs="String">
                <value>Monthly</value>
            </setting>
        </loands.Properties.Settings>
        <loands.Properties.Loans>
            <setting name="Loans" serializeAs="String">
                <value />
            </setting>
        </loands.Properties.Loans>
    </userSettings>
</configuration>